[submodule "Syati_Init"]
	path = PTD/Syati_Init
	url = https://www.github.com/SMGCommunity/Syati_Init
[submodule "Syati_CommonFunctionHooks"]
	path = PTD/Syati_CommonFunctionHooks
	url = https://www.github.com/SMGCommunity/Syati_CommonFunctionHooks
[submodule "Syati_GlobalLayouts"]
	path = PTD/Syati_GlobalLayouts
	url = https://www.github.com/SMGCommunity/Syati_GlobalLayouts
[submodule "Syati_ObjectFactories"]
	path = PTD/Syati_ObjectFactories
	url = https://www.github.com/SMGCommunity/Syati_ObjectFactories
[submodule "Syati_ClassExtensions"]
	path = PTD/Syati_ClassExtensions
	url = https://www.github.com/SMGCommunity/Syati_ClassExtensions
[submodule "Syati_ExtGameData"]
	path = PTD/Syati_ExtGameData
	url = https://www.github.com/SMGCommunity/Syati_ExtGameData
