*.o
*.bat
Syati
out
.vscode
SyatiModuleTemplate
SyatiModuleBuildTool
codebuild
.vs
.gitignore
PTD/GalaxyToolkit
PTD/SMG2_SimpleMirrorObj
PTD/BlueCoinSystem
PTD/Starshine
PTD/SuperFlag
PTD/.moduleignore
.vs
PTD/BlueCoinSystem
PTD/SMG2_SimpleMirrorObj
PTD/GalaxyToolkit
PTD/DeathCounter
PTD/LavaSteam
